[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
csv = "*"
logging = "*"
datetime = "*"
json = "*"

[requires]
python_version = "3.8"
